.detail {
    padding-top: var(--gap-large);
    align-items: center;
    justify-content: center;
}

.detail .box1 {
    gap: var(--gap-medium);
}


.detail .productVisual {
    align-self: stretch;
    overflow: hidden;
}

.detail .productVisual img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 32px;
    box-shadow: var(--shadow-main);
}

.detail .productTitle { gap: var(--gap-micro); }

.detail .sellerQuote {
    align-items: center;
    gap: var(--gap-small);
}

.detail .sellerMsg img {
    size: 32px;
    padding: 12px;
    border-radius: 64px;
    background: var(--primary-brand-red);
}

.detail .sellerMsg {
    display: flex;
    flex-direction: column;
    gap: var(--gap-small);
    background: var(--clean-white);
    border-left: 6px solid var(--primary-brand-red);
    padding: 32px;
    border-radius: 24px;
    box-shadow: var(--shadow-main);
}

.detail .socialProof {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--gap-small);
    padding: 18px 25px;
    border: 2px dashed var(--accent-cheese-yellow);
    background-color: #FFFDE7;
    border-radius: 20px;
}

.detail .productBuy {
    gap: var(--gap-small);
    padding: 32px;
    border-radius: 24px;
    box-shadow: var(--shadow-main);
}

.detail .quantityInput {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 8px;
    gap: 24px;
    border-radius: 16px;
    border: 1px solid var(--charcoal-grey);
}

.detail .quantityInput button {
    background: none;
    border: none;
    transition: transform 0.2s, opacity 0.2s;
}

.detail .quantityInput button:hover { opacity: 0.7; }
.detail .quantityInput button:active { transform: scale(0.90); }

.detail .quantityInput input {
    padding: 0;
    border: none;
    border-bottom: 2px solid rgb(from var(--charcoal-grey) r g b / 0.5);
    text-align: center;
    width: 32px;
    outline: none;
    transition: border-color 0.12s, color 0.12s;
    color: var(--primary-brand-red);
}

.quantityInput input[type="number"]::-webkit-outer-spin-button,
.quantityInput input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.detail .quantityInput input:focus { border-bottom: 2px solid var(--primary-brand-red); }

.detail .subtotal { justify-content: space-between; }

.detail .productBuy form .flexCol { gap: var(--gap-small); }

@media (max-width: 1126px) { /* bahan pertanyaan; maxwidth responsive harus sama atau gak? */
    
    .detail .box1 {
        flex-wrap: wrap;
    }

    .detail .productVisual {
        width: 100%;
    }

    .detail .productVisual img {
        aspect-ratio: 16/9;
        max-height: 420px;
        border-radius: 16px;
    }
}

@media (max-width: 480px) {
    .detail .productVisual img {
        aspect-ratio: 3/4;
        border-radius: 20px;
        box-shadow: var(--shadow-main);
        max-height: none;
    }
}
