.hero {
    padding-top: var(--gap-large);
    padding-bottom: var(--gap-large);
    align-items: center;
}

.hero #maskot {
    max-width: 100%;
}

/* Start : base global.css */
.hero .breakpoint {
    flex-direction: row;
    padding-top: var(--gap-large);
    padding-bottom: var(--gap-large);
}

.hero .flexCol .flexRow:nth-of-type(4),
.hero .flexCol .flexRow:nth-of-type(4) .flexRow {
    align-items: center;
    gap: var(--gap-small);
    width: fit-content;
}

/* end */

.hero .box2 {
    max-width: 751.33px;
}

/* "Kamu" */
.hero .inlineFlex {
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.hero .inlineFlex img {
    position: absolute;
    left: -12px;
    bottom: -8px;
    max-width: 223px;
}


@media (max-width: 1024px) {
    .hero .breakpoint {
        flex-direction: column;
        padding-top: 102px;
    }

    .hero .flexCol>div {
        text-align: center;
        align-self: center;
    }

    .hero .flexCol > .flexRow {
        justify-content: center;
    }

    .hero .inlineFlex img {
        left: -8px;
        bottom: -6px;
        max-width: 160px;
    }

    .box2 .bodyLg,
    .box2 .displayHero {
        max-width: 768px;
    }
}

@media (max-width: 767px) {
    .hero .inlineFlex img {
        max-width: 138.6px;
    }
}

@media (max-width: 550px) {
    .hero {
        padding-bottom: 0;
        align-items: flex-start;
        justify-content: left;
    }

    .hero .breakpoint {
        align-items: flex-start;
    }

    .hero #maskot {
        width: 100%;
    }

    .hero .flexRow {
        align-self: flex-start;
    }

    .hero .flexCol>div {
        text-align: left;
        align-self: auto;
    }

    .hero .flexCol > .flexRow {
        justify-content: start;
    }

    .hero .flexCol .flexRow:nth-of-type(4) .btnText {
        font-size: var(--fs-caption);
    }
}

@media (max-width: 366px) {
    .hero .flexRow {
        flex-wrap: wrap-reverse;
    }

    .hero .flexCol > .flexRow {
        justify-content: center;
    }
}
