/* start: lokasi section wrapper */
.lokasi { background: var(--primary-brand-red); align-items: center; }
.lokasi .wrapBreakpoint { width: 100%; align-items: center; background: var(--clean-white); border-radius: 130em 130em 0 0 / 120% 120% 0 0; }
/* end: lokasi section wrapper */

/* start: base override global */
.lokasi .breakpoint .flexRow { gap: var(--gap-medium); align-items: center; justify-content: center; padding-top: 0; padding-bottom: 0; flex-wrap: wrap; }
/* end: base override global */

.empty { opacity: 50%; }

/* start: responsive large desktop */
@media (max-width: 1563px) {
    .lokasi .breakpoint { border-radius: 190em 190em 0 0 / 80% 80% 0 0; }
}
/* end: responsive large desktop */

/* start: responsive tablet */
@media (max-width: 1024px) {
    .lokasi .wrapBreakpoint { padding: var(--gap-medium) 0 0 0; }
    .lokasi .cardM { max-width: 342px; }
}
/* end: responsive tablet */

/* start: responsive mobile */
@media (max-width: 768px) {
    .lokasi .breakpoint { border-radius: 190em 190em 0 0 / 50% 50% 0 0; }
    .lokasi .wrapBreakpoint { padding: 0; }
}
/* end: responsive mobile */
