.rollbackToggle {
    position: fixed;
    bottom: calc(var(--gap-medium) + 110px);
    right: 52px;
    width: 70px;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: right;
}

.rollbackToggle img { width: 100%; }

@media (max-width: 768px) {
        .rollbackToggle {
        bottom: calc(var(--gap-small) + 100px);
        right: 20px;
        width: 72px;
    }
}